Source: ros-verystable-ros-base
Section: misc
Priority: optional
Maintainer: Steven! Ragnarök <steven@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-cmake, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-ros-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-geometry2, ros-verystable-kdl-parser, ros-verystable-robot-state-publisher, ros-verystable-ros-core, ros-verystable-urdf, ros-verystable-ros-workspace
Description: A package which extends 'ros_core' and includes other basic functionalities like tf2 and urdf.
